// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show p {
  background-color: rgba(0,0,0,0);
  display: block;
}

.product_container {
  border-style: solid;
  border-width: thick;
  border-color: grey;
  margin: 2px;
  height: 500px;
  width: 320px;
}

.product_container p{
  background-color: #fff;
}

.product_container:hover {
  border-style: solid;
  border-width: thick;
  border-color: rgb(96, 68, 61);
}

.listing_image {
  height: 250px;
}
