// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-show p {
  float: left;
}

.img-responsive{
  display: inline-block;
  float: left;
}

.buttons {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.submit-comment {
  margin-top: 3%;
}

.comment {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.product-container {
  width: 300px;
  float: left;
  height: auto;
  margin: 1%;
  border: solid grey;
  border-radius: 10px;
}

.product-container h1 {
  display: block;
  padding: 1%;
}

.product-container p {
  display: block;
  padding: 2%
}

.listing-image {
  margin: 1%;
  height: 90%;
  width: 90%;
}

.product-container:hover {
  border-color: rgb(96, 68, 61);
}

.pagination {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
