<a href="<%=product_path(product) %>"><div class="col-sm-2 col-md-4 product_container">
  <%= image_tag(product.image_url, class: "img-responsive listing_image") %>
  <h1><%= product.name %></h1>
  <p><%= product.description %></p>
</div></a><!-- /col -->
